.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo-hitam {
  background-color: #282c34;
  width: 100%;
  display: flex;
  justify-content: center;
}

.App-button {
  background-color: #eff1f4;
  width: 100%;
  display: flex;
  justify-content: center;
}

.App-back-Card {
  background-image: url('./../src/Assets/motif.png');
  /* background-color: #335497; */
  justify-content: center;
  display: flex;
  width: 100%;
}

.App_barcode {
  background-image: url('./../src/');
  /* background-color: #335497; */
  justify-content: center;
  display: flex;
  width: 100%;
}

/* .App-home1{} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}